<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Coffi Finder</title>
    <link rel="stylesheet" href="../static/coffi.css">
</head>
<body>
    <header>
        <div class="abc">
        <img src="../static/coffee-cup.png" height="40" width="40" alt="Icon">
        <h2>The Cof-fi Finder</h2>
        <nav>
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Support</a>
        </nav>
    </div>
    </header>
</body>
</html>